.navigation_container {
    z-index: 100;
    position: fixed;
    bottom: 1.5rem;
    left: 0px;
    right: 0px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.12) 0px 1px 3px);
    pointer-events: none;
}
.navigation_container_visualizer {
    height: 2.75rem;
    border-radius: 1.125rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.98) none repeat scroll 0% 0%;
    pointer-events: all;
}
.navigation_selector {
    display: inline-flex;
    flex-direction: column; 
}
.navigation_close_window {
    position: relative;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    height: 2.75rem;
}
button.close_button {
    margin: 0px;
    font-weight: normal;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.015em;
    hyphens: none;
    white-space: normal;
    border: 0px none;
    padding: 0px 0.75rem;
    height: 2.25rem;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    cursor: pointer;
    transition: color 0.1s ease-in-out 0s;
    user-select: none;
    outline: currentcolor none medium;
}
.navigation_app {
    position: relative;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    height: 2.75rem;
}
nav.navbar_controls {
    display: inline-flex;
    padding: 0.5rem 0.3125rem;
}
nav.navbar_controls > ul {
    list-style: outside none none;
    display: inline-flex;
    flex-wrap: nowrap;
}
.navitem {
    margin: 0px 0.25rem 0px 0px;
    font-weight: normal;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.015em;
    hyphens: none;
    white-space: normal;
    list-style: outside none none;
}
.navitem_link {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding: 1rem 0.75rem 0;
    height: 2.25rem;
    border-radius: 1.25rem;
    transition: color 0.1s ease-in-out 0s;
    user-select: none;
    text-decoration: none;
    color: var(--main-color-dark);
}
.navitem_link:hover {
    text-decoration: none;
    color: var(--main-font-color-secondary);
}
.nohover:hover {
    color: var(--main-font-color-primary);
}
.navitem_link {
    position: relative;
    top: 1px;
    left: 1px;
}
div.nav_pill {
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0.25rem;
    width: 100px;
    height: 2.25rem;
    border-radius: 1.125rem;
    background: var(--main-neon-color) none repeat scroll 0% 0%;
    transition: all ease-in-out 0.5s;
}
