.logocollection-section {
    margin: 0px -0.375rem 3rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    width: 100%;
    height: auto;
}
.logocollection-wrapper {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 2.5rem auto 0;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}
div.logo-item {
    padding: 4rem 6rem;
    min-width: 25%;
    height: 12.5vw;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-color: yellow;
}
#logo1 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-Emundi.png);
}
#logo2 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-GemeenteAmsterdam.png);
}
#logo3 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-VivaWyndham.png);
}
#logo4 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-Tuipng.png);
}
#logo5 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-BoardingGate.png);
}
#logo6 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-CivicInteraction.png);
}
#logo7 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-HotelsCollection.png);
}
#logo8 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-JeraTur.png);
}
#logo9 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-Arcam.png);
}
#logo10 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-Ringana.png);
}
#logo11 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-Thieme.png);
}
#logo12 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Logo-ViraModa.png);
}
.grid-inner-card {
    margin: 0px -0.375rem -3rem;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: smooth;
}
.scrollx {
    width: 90% !important;
    padding-right: 0 !important;
    margin-right: 1rem !important;
}
.portfolio-content {
    margin: 0px;
    padding-top: 0.25rem;
    max-width: 880px;
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: -0.02em;
    hyphens: auto;
    white-space: pre-line;
}
.padding_grid_item {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    width: 100%;
}
.reduced-padding-bottom {
    padding-bottom: 1.25rem !important;
}
.projectcard {
    margin: 0px;
    width: 100%;
    border-radius: 0.25rem;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    height: 450px;
    border: rgba(0, 0, 0, 1) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(200, 200, 200, 0.8) 0px -3px 0px inset;
    transition: all 0.3s ease-out;
}
.projectcard_content {
    margin: 0px;
    display: inline-flex;
    flex-direction: column;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding: 0.25rem 0.5rem 0.5rem;
    z-index: 10;
    position: absolute;
    inset: 0px;
    text-decoration: none;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    transition: all 0.3s ease-out;
}
.projectcard_content_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.tags_taglist {
    color: inherit;
    width: 100%;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0.2rem;
}
.tags_item {
    display: block;
    height: auto;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0px 0.5rem 0.02rem;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 140%;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
    border-radius: 0.3rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px 0px;
}
.tags_item li {
    margin-bottom: 0.125rem;
}
.projectcard_textcontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 0.4rem;
    background-color: rgba(82, 82, 82, 0.9);
    border: solid 1px rgba(82, 82, 82, 0.3);
    mix-blend-mode: none; 
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.projectcard_title {
    margin: 0rem 0px 0.5rem;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: -0.03em;
    white-space: unset;
    hyphens: none;
    width: 100%;
    padding: 1.1rem 1.1rem 0.55rem !important;
}
.projectcard_text {
    margin: 0px;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.015em;
    white-space: pre-line;
    padding: 0rem 1.1rem 1.1rem !important;
}
.projectcard_imagewrapper {
    transform: scale(1);
    transition: transform 0.5s ease-out 0s;
    position: relative;
    overflow: hidden;
}
#project_1 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Emundi-Marketplace.jpg);
}
#project_2 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Emundi-DesignSystem.jpg);
}
#project_3 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/BG-Mockup.jpg);
}
#project_4 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Inclusive-Design-Mockup.jpg);
}
#project_5 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/HotelsCollection-Mockup.jpg);
}
#project_6 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Arcam-Interface.jpg);
}
#project_7 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Covid-Mockups.jpg);
}
#project_8 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Ringana-Mockup.jpg);
}
#project_9 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/FTL-Mockup.jpg);
}
#project_10 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/Thieme-Mockup.jpg);
}
#project_11 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/JeraTur-Mockup.jpg);
}
#project_12 {
    background: url(https://github.com/lucalago/lk_digitaldesign_website/blob/main/assets/img/TUI-Mockup.jpg);
}

@media screen and (min-width: 42em) {
    .grid-inner-card {
        margin-bottom: -3rem;
        margin-left: -0.375rem;
        margin-right: -0.375rem;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .scrollx {
        width: 50% !important;
        padding-right: 0.375rem !important;
        margin-right: inherit !important;
    }
    .scrollx:nth-child(2n+2) {
        padding-right: 0 !important;
    }
    .portfolio-content {
        padding-top: 0.25rem;
    }
    .padding_grid_item {
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
    .separator_project::before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 2rem;
        height: 1px;
        width: calc(100% - 3.25rem);
        background: var(--main-neon-color) none repeat scroll 0% 0%;
        line-height: 1;
    }
    .projectcard_content {
        padding: 0.25rem 0.5rem 0.5rem;
    }
    .tags_taglist {
        margin-top: 0rem;
    }
}

@media screen and (min-width: 44em) {
    .grid-inner-card {
        margin-bottom: -3rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .scrollx {
        padding-right: 0.5rem !important;
    }
    .portfolio-content {
        padding-top: 0.375rem;
        font-size: 1.375rem;
        line-height: 1.75rem;
    }
    .padding_grid_item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .logocollection-wrapper {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .projectcard_content {
        padding: 0.75rem 0.5rem 0.5rem;
    }
    .nopadding {
        padding-right: 0 !important;
    }
    .itemNplus1 {
        margin-top: 1.11rem !important;
    }
    .tags_taglist {
        margin-top: -0.4rem;
    }
    .projectcard_textcontent {
        max-height: 5.5rem;
        height: auto;
        overflow: hidden;
    }
    #project_1:hover > .projectcard_textcontent, #project_1:hover > .projectcard_textcontent > .projectcard_text, #project_2:hover > .projectcard_textcontent, #project_2:hover > .projectcard_textcontent > .projectcard_text, #project_3:hover > .projectcard_textcontent, #project_3:hover > .projectcard_textcontent > .projectcard_text, #project_4:hover > .projectcard_textcontent, #project_4:hover > .projectcard_textcontent > .projectcard_text, #project_5:hover > .projectcard_textcontent, #project_5:hover > .projectcard_textcontent > .projectcard_text, #project_6:hover > .projectcard_textcontent, #project_6:hover > .projectcard_textcontent > .projectcard_text, #project_7:hover > .projectcard_textcontent, #project_7:hover > .projectcard_textcontent > .projectcard_text, #project_8:hover > .projectcard_textcontent, #project_8:hover > .projectcard_textcontent > .projectcard_text, #project_9:hover > .projectcard_textcontent, #project_9:hover > .projectcard_textcontent > .projectcard_text, #project_10:hover > .projectcard_textcontent, #project_10:hover > .projectcard_textcontent > .projectcard_text, #project_11:hover > .projectcard_textcontent, #project_11:hover > .projectcard_textcontent > .projectcard_text, #project_12:hover > .projectcard_textcontent, #project_12:hover > .projectcard_textcontent > .projectcard_text {
        height: contain !important;
        transform: opacity(1) !important;
        max-height: 60% !important;
        display: inline-flex;
        transition: all 0.3s ease-in;
    }
    .projectcard_text {
        transform: opacity(0);
    }
}

@media screen and (min-width: 62em) {
    .grid-inner-card {
        margin-bottom: -5rem;
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }
    .scrollx {
        padding-right: 1.25rem !important;
    }
    .portfolio-content {
        font-size: 1.5625rem;
        line-height: 2rem;
        hyphens: none;
    }
    .padding_grid_item {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .logocollection-wrapper {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .projectcard_title {
        font-size: 1.375rem;
        line-height: 1.625rem;
        white-space: pre-line;
        hyphens: none;
    }
    .projectcard_text {
        font-size: 1.125rem;
        line-height: 1.45rem;
        hyphens: auto;
    }
    .tags_item {
        padding-bottom: 0.025rem;
    }
    .itemNplus1 {
        margin-top: 1.4rem !important;
    }
    .projectcard_textcontent {
        max-height: 4rem;
    }
}