:root {
    --main-bg-color: rgb(31, 31, 31);
    --main-bg-color-lighter: rgba(146, 146, 146, 0.25);
    --main-bg-color-reverse: rgb(255, 255, 255);
    --main-font-color-primary: rgb(255, 255, 255);
    --main-font-color-secondary: rgb(185, 185, 185);
    --main-neon-color: rgb(208, 255, 0);
    --transparent: rgba(0,0,0,0);
    --card-bg-color: rgb(77, 77, 77);
}
* {
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--main-bg-color);
}
@font-face {
    font-family: Neue;
    src: url(/assets/fonts/NeueMetana-Regular.otf);
  }
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
h1, #span-1, #span-2, #span-3, p.name-logo, button, h3, h2, h4, h5, h6, p, span {
    font-family: 'Noto Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    cursor: default;
}
span#arrow-right {
    font-family: Neue;
    font-size: 1.65rem;
}
section {
    z-index: 1;
    position: relative;
    min-height: 100vh;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 1;

}
.section_header {
    margin: 0rem 0 0px;
    margin-top: 0rem;
    padding-bottom: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
    width: 100%;
}
.section_header:nth-child(2n+2) {
    margin-top: -160px;
    padding-bottom: 3rem;
}
.section_headline {
    margin: 0px;
    font-size: 9vw;
    line-height: 120%;
    font-weight: regular;
    letter-spacing: -0.04em;
    white-space: pre-line;
    color: var(--main-font-color-secondary);
}
div.section_header:nth-child(2n+2), div.section_header:nth-child(2n+2) > .section_headline {
    margin: 0 !important;
    padding: 0 !important;
    height: 1px !important;
}
.flex-setting {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
span#span-1, span#span-2, span#span-3, .wider {
    background: linear-gradient(231deg, #1f1f1f, #d0ff00, #1f1f1f);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.wider {
    width: 75vw !important;
    background-size: 150% 175%;
    padding-bottom: 1rem;
}
.section_headline {
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.section_frame {
    margin: 0px auto;
    padding-bottom: 7.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
    width: 100%;
}
.section_wrapper {
    margin: 0px -0.375rem;
    margin-right: -0.375rem;
    margin-left: -0.375rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.section_inner {
    margin: 0px 0rem 0px 0%;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    width: 100%;
    flex: 0 0 auto;
}
.section_separator {
    margin: 0px 0px 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    line-height: 1;
}
h2.section_separator_h2 {
    margin: 0px;
    font-size: 0.8rem;
    text-transform: uppercase;
    display: inline-block;
    height: 1.2rem;
    padding: 0px 0.5rem;
    border: 1px solid var(--main-neon-color);
    border-radius: 0.25rem;
    line-height: 1.1rem;
    text-align: center;
}
h2.section_separator_h2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 1rem;
    height: 1px;
    width: calc(100% - 1rem);
    background: var(--main-neon-color) none repeat scroll 0% 0%;
    line-height: 1;
}
h2.section_separator_h2, h3.list_title_h3, .service_number {
    color: var(--main-neon-color);
    font-weight: normal;
    text-decoration: none;
}
.list_content, h3.card_title_h3, .section_grid_content, .article_card_h3, h3.section_headline, .subsection_description, .portfolio-content, .projectcard_title {
    color: var(--main-font-color-primary);
    font-weight: normal;
    text-decoration: none;
}
p.card_text, .item_description, .list_title, .projectcard_content {
    color: var(--main-font-color-secondary);
}
.projectcard_content_tags {
    color: var(--main-font-color-secondary);
    font-weight: normal;
    text-decoration: none;
    hyphens: none;
}
ul.list_content > li {
    letter-spacing: 0.01rem;
}
.subsection_description > p {
    margin-bottom: 0 !important;
}
@media screen and (min-width: 42em) {
    .wider {
        width: 65vw !important;
    }
    .section_headline {
        margin-top: 2rem;
        font-size: 6.5vw;
        line-height: 110%;
    }
    .section_header {
        padding-bottom: 2vw;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}
@media screen and (min-wdith: 44em) {
    .section_header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .section_headline {
        margin-top: 2rem;
        font-size: 2.5vw;
        line-height: 110%;
    }
}
@media screen and (min-width: 62em) {
    .section_headline {
        font-size: 5vw;
        line-height: 120%;
    }
    .section_header {
        margin-top: -1.5rem;
        padding-bottom: 5vw;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
